@font-face {
    font-family: 'weater-icon-font';
    src:
        url('fonts/weater-icon-font.ttf?tdr3rg') format('truetype'),
        url('fonts/weater-icon-font.woff?tdr3rg') format('woff'),
        url('fonts/weater-icon-font.svg?tdr3rg#weater-icon-font') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'weater-icon-font' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-A:before {
    content: "\e900";
}
.icon-B:before {
    content: "\e901";
}
.icon-C:before {
    content: "\e902";
}
.icon-D:before {
    content: "\e903";
}
.icon-E:before {
    content: "\e904";
}
.icon-F:before {
    content: "\e905";
}
.icon-G:before {
    content: "\e906";
}
.icon-H:before {
    content: "\e907";
}
.icon-I:before {
    content: "\e908";
}
.icon-J:before {
    content: "\e909";
}
.icon-K:before {
    content: "\e90a";
}
.icon-L:before {
    content: "\e90b";
}
.icon-M:before {
    content: "\e90c";
}
.icon-N:before {
    content: "\e90d";
}
.icon-O:before {
    content: "\e90e";
}
.icon-P:before {
    content: "\e90f";
}
.icon-Q:before {
    content: "\e910";
}
.icon-R:before {
    content: "\e911";
}
.icon-S:before {
    content: "\e912";
}
.icon-T:before {
    content: "\e913";
}
.icon-U:before {
    content: "\e914";
}
.icon-V:before {
    content: "\e915";
}
.icon-W:before {
    content: "\e916";
}
.icon-X:before {
    content: "\e917";
}
.icon-Y:before {
    content: "\e918";
}
.icon-Z:before {
    content: "\e919";
}
.icon-a:before {
    content: "\e91a";
}
.icon-b:before {
    content: "\e91b";
}
.icon-c:before {
    content: "\e91c";
}
.icon-d:before {
    content: "\e91d";
}
.icon-e:before {
    content: "\e91e";
}
.icon-f:before {
    content: "\e91f";
}
.icon-g:before {
    content: "\e920";
}
.icon-h:before {
    content: "\e921";
}
.icon-i:before {
    content: "\e922";
}
.icon-j:before {
    content: "\e923";
}
.icon-k:before {
    content: "\e924";
}
.icon-l:before {
    content: "\e925";
}
.icon-m:before {
    content: "\e926";
}
.icon-n:before {
    content: "\e927";
}
.icon-o:before {
    content: "\e928";
}
.icon-p:before {
    content: "\e929";
}
.icon-q:before {
    content: "\e92a";
}
.icon-r:before {
    content: "\e92b";
}
.icon-s:before {
    content: "\e92c";
}
.icon-t:before {
    content: "\e92d";
}
.icon-u:before {
    content: "\e92e";
}
.icon-v:before {
    content: "\e92f";
}
.icon-w:before {
    content: "\e930";
}
.icon-x:before {
    content: "\e931";
}
.icon-y:before {
    content: "\e932";
}
.icon-z:before {
    content: "\e933";
}
.icon-zero:before {
    content: "\e934";
}
.icon-one:before {
    content: "\e935";
}
.icon-two:before {
    content: "\e936";
}
.icon-three:before {
    content: "\e937";
}
.icon-four:before {
    content: "\e938";
}
.icon-five:before {
    content: "\e939";
}
.icon-six:before {
    content: "\e93a";
}
.icon-seven:before {
    content: "\e93b";
}
.icon-eight:before {
    content: "\e93c";
}
.icon-nine:before {
    content: "\e93d";
}
.icon-asterisk:before {
    content: "\e93e";
}
.icon-backslash:before {
    content: "\e93f";
}
.icon-bullet:before {
    content: "\e940";
}
.icon-colon:before {
    content: "\e941";
}
.icon-comma:before {
    content: "\e942";
}
.icon-ellipsis:before {
    content: "\e943";
}
.icon-exclam:before {
    content: "\e944";
}
.icon-exclamdown:before {
    content: "\e945";
}
.icon-slash:before {
    content: "\e946";
}
.icon-guilsinglleft:before {
    content: "\e947";
}
.icon-guilsinglright:before {
    content: "\e948";
}

